* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

div.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(224, 30, 9, 0.586), rgba(0, 0, 0, 0.7));
    perspective: 100rem;
}

.two-cards-frame {
    transform-style: preserve-3d;
    position: absolute;
    top: calc(50% - 15rem);
    left: calc(50% - 25rem);
    transform: rotateY(-20deg);
    transition: transform 0.5s, left 0.5s;
}

.two-cards-frame.swap {
    transform: rotateY(100deg);
    left: calc(50% + 25rem);
}

.two-cards-frame section {
    position: absolute;
    width: 50rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(40, 67, 114, 0.9);
    box-shadow: 0.2rem -0.2rem 0.2rem #ccc inset, -0.2rem 0.2rem 0.2rem crimson inset;
}

.side-two {
    transform: rotateY(270deg) translateX(-25rem) translateZ(25rem);
}

section div.btn {
    position: absolute;
    top: 3rem;
    background-color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(40, 114, 108);
    letter-spacing: 0.1rem;
    cursor: pointer;
}


.side-two-btn {
    left: 2rem;
    padding: .3rem 1rem .3rem 3rem;
    border-radius: 100% 0.5rem 0.5rem 100%;
}

.side-one-btn {
    right: 2rem;
    padding: .3rem 3rem .3rem 1rem;
    border-radius: 0.5rem 100% 100% 0.5rem;
}


section h2 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: white;
}


div.pict-frame {
    position: relative;
    width: 60%;
    height: 60%;
    background-color: skyblue;
    text-align: center;

}

.spectacle {
    animation: sky 10s linear infinite;
}


.sun {
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: darkred;
    animation: sun 10s infinite;
}


.ground {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25%;
    background-color: darkgreen;
    animation: ground 10s linear infinite
}


@keyframes sun {

    0% {
        bottom: 15%;
        left: 10%;
        background-color: darkred;
    }

    50% {
        bottom: 45%;
        background-color: yellow;
    }

    100% {
        bottom: 5%;
        left: 90%;
        background-color: darkred;
    }
}


@keyframes ground {

    0% {
        background-color: #222;
    }

    20% {
        background-color: green;
    }

    50% {
        background-color: greenyellow;
    }

    80% {
        background-color: green;
    }

    100% {
        background-color: #222;
    }

}

@keyframes sky {
    0% {
        background-color: #444;
    }

    30% {
        background-color: rgb(171, 79, 93)
    }

    50% {
        background-color: lightblue;
    }

    80% {
        background-color: rgb(171, 79, 93)
    }

    100% {
        background-color: #444;
        ;
    }

}



h3 {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    margin: 2rem;
    font-family: monospace;
    overflow: hidden;
    color: royalblue
}


h3:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    border-left: 7px solid #333;
    animation: cursor .6s infinite linear, typing 7s steps(25, start) infinite;

}



@keyframes cursor {

    0% {
        border-color: transparent;
    }

    10% {
        border-color: transparent;
    }

    25% {
        border-color: black
    }

    75% {
        border-color: black
    }

    90% {
        border-color: transparent;
    }

    100% {
        border-color: transparent;
    }
}


@keyframes typing {
    100% {
        left: 100%;
    }
}