* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


body {
    background: linear-gradient(rgba(9, 184, 224, 0.586), rgba(0, 0, 0, 0.7));
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    background: linear-gradient(rgba(9, 184, 224, 0.586), rgba(0, 0, 0, 0.7));
}

.cnv-set {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
}


h2 {
    margin-bottom: 7vh;
    font-size: 3rem;
    color: #fff;
}

.cnv-btn {
    width: 15rem;
    height: 15rem;
    margin: 2vw;
    line-height: 15rem;
    text-align: center;
    border: 0.1rem solid #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.home-btn {
    width: 15rem;
    height: 15rem;
    margin: 5vh;
    line-height: 15rem;
    text-align: center;
    border: 0.1rem solid #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.cnv-btn:hover,
.home-btn:hover {
    border: 0.1rem solid rgba(9, 184, 224, 0.586);
    /* color: rgba(9, 184, 224, 0.586); */
    color: rgba(4, 131, 157, 0.586);
    background-color: #fff;
}

.quant-to-quant {
    display: none;
    width: 100vw;
    height: 100vh;
}


.on {
    display: block;
}

.off {
    display: none;
}

.wrap-cnv {
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin: 2rem;
    font-size: 4rem;
    color: #fff;
}

input {
    margin-bottom: 3rem;
    padding: 20px 50px;
    border-radius: 20px;
    background-color: transparent;
    border: 00.1rem solid #fff;
    color: #fff;
    letter-spacing: 0.2rem;
    outline: none;
    font-size: 1.5rem;
}

button {
    width: 10rem;
    margin: 0 5px;
    padding: 10px 20px;
    border: 00.1rem solid #fff;
    border-radius: 10px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: rgba(4, 131, 157, 0.586);

}

.result {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #fff;
}